/* ------------------------ common tags styles ---------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* ------------------------ basic inside styles ---------------------- */
header {
    background: pink;
    flex-basis: 10vh;
}

main {
    display: flex;
    flex: 1 1 auto;
}

main aside {
    background-color: cyan;
    flex-basis: 20%;
}

main section {
    background-color: coral;
    flex: 1 1 auto;
}

main section+aside {
    background-color: lime;
    /* flex-basis: 20%; */
}

footer {
    background-color: gray;
    flex-basis: 5vh;
}

/* ------------------------ media styles ---------------------- */
@media screen and (max-width: 960px) {
    main section+aside {
        display: none;
    }

    main aside {
        flex-basis: 30%;
    }

    main section {
        flex-basis: 70%;
    }
}

@media screen and (max-width: 570px) {
    main { 
        flex-direction: column;
    }

    main aside {
        flex-basis: 20vh;
    }

    main section {
        flex-basis: auto;
        order: -1;
    }
}